.signUpWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}
.signUpInput {
  width: 60%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.signUpSubmit {
  background-color: #03151e;
  padding: 10px;
  color: white;
  margin-top: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}
.signUpSubmit:hover {
  color: #03151e;
  border-color: #03151e;
  background-color: #fff;
}
.inputLabelWrapper {
  width: 100%;
  display: flex;  
  justify-content: space-between;
}
.uploadBtn {
  cursor: pointer;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.uploadBtn:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.hiddenInput{
  display: none;
}
.uploadImageContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
